/* Estilos existentes */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to bottom, #333, #f4f4f4); 
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.logo a {
    text-decoration: none;
}

.logo img {
    max-width: 80px; /* Ajuste conforme o tamanho da logo */
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.burger {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Transição das linhas do burger */
.burger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsivo */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .burger {
        display: block;
    }
}




footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}

/* Estilização da seção de serviços */
.services {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.services h2 {
    margin-top: 60px;
    font-size: 2.2em;
    margin-bottom: 30px;
    color: #333;
}

.service-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service-item h3 {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 1em;
    color: #555;
}

@media (min-width: 768px) {
    .services {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
    }

    .service-item {
        flex: 1;
        margin-bottom: 0;
    }
}
.rating {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.star {
    font-size: 20px;
    color: #ccc; /* Cor das estrelas não acesas */
    transition: color 0.3s;
}

.star.filled {
    color: #007bff; /* Cor das estrelas acesas */
}
